{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div class="container">
    <form method="post" class="form-signin">
      {% csrf_token %}

      <h2 class="form-signin-heading">Войти</h2>

      <div class="form-group{% if form.username.errors %} has-error{% endif %}">
        {{ form.username.label_tag }}
        {% render_field form.username type="text" class="form-control" %}
        {% if form.username.errors %}<p class="help-block">{{ form.username.errors.0 }}</p>{% endif %}
      </div>

      <div class="form-group{% if form.password.errors %} has-error{% endif %}">
        {{ form.password.label_tag }}
        {% render_field form.password type="password" class="form-control" %}
        {% if form.password.errors %}<p class="help-block">{{ form.password.errors.0 }}</p>{% endif %}
      </div>

      <button type="submit" class="btn btn-primary">Войти</button>
    </form>
  </div>
{% endblock %}
